{% extends "base.html" %}
{% load static %}

{% block header %}
<script type="text/javascript" src="{% static 'js/add_teachers_class.js' %}"></script>
{% endblock header %}

{% block content %}
<input type="hidden" value="{{user.id}}" id="user-id">
<input type="hidden" value="{{year}}" id="year">
<input type="hidden" value="{{month}}" id="month">
<input type="hidden" value="{{day}}" id="day">
<input type="hidden" value="{{hour}}" id="hour">

<div class="container">
    <div class="card-panel hoverable">
        <img class="responsive-img" src="/media/Tutoring.jpg">
        <h3>{{month}}月{{day}}日 {{hour}}時からの授業を予約しますか？</h3>
        <button class="btn waves-effect waves-light btn-large" type="submit" name="action" id="add-class-btn">はい
            <i class="material-icons right">add</i>
        </button>
        <button class="btn-large disabled" type="submit" name="action" id="not-add-class-btn">いいえ
        </button>
    </div>
</div>
{% endblock content %}
