{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <link href="{% static '/css/decorate_a_element.css' %}" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>個別指導Online</title>

    {% block header %}
    {% endblock header %}

  </head>

  <body>

    <nav>
        <div class="nav-wrapper">
          {% if user.is_authenticated %}
            {% if user.user_type == "student" %}
            <a href="/tutoring/reserve/" class="brand-logo">個別指導Online</a>
            {% elif user.user_type == "teacher" %}
            <a href="/tutoring/manage_schedule/" class="brand-logo">個別指導Online</a>
            {% endif %}
          {% else %}
          <a href="/tutoring/home_page/" class="brand-logo">個別指導Online</a>
          {% endif %}

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
              {% if user.user_type == "student" %}
              <li><a href="/tutoring/reserve/">授業を予約</a></li>
              {% elif user.user_type == "teacher" %}
              <li><a href="/tutoring/manage_schedule/">授業を予約</a></li>
              {% endif %}
            <li><a href="/tutoring/profile/{{user.id}}/">マイページ</a></li>
            <li><a href="/tutoring/setup_account/">アカウント設定</a></li>
            <li><a href="/tutoring/logout/">ログアウト</a></li>
            {% else %}
            <li><a href="/tutoring/home_page/">ホーム</a></li>
            <li><a href="/tutoring/login/">ログイン</a></li>
            <li><a href="/tutoring/signup/">アカウントを作成</a></li>
            {% endif %}
          </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
  </body>
</html>