{% extends "base.html" %}
{% load static %}

{% block header %}
<script type="text/javascript" src="{% static 'js/reserve.js' %}"></script>
{% endblock header %}

{% block content %}
<input type="hidden" value="{{user.id}}" id="user-id">

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s8">
                <div class="card-panel hoverable">
                    <div class="row">
                        <div id="rank" class="col s5">
                            <h5>ランク</h5>
                        </div>
                        <div id="spent-time" class="col s5">
                            <h5>総学習時間</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h5 id="daily-reserved-class">今日の授業</h5>
        <ul class="collection" id="reserved-class-container">
        </ul>
    </div>

    <div class="section">
        <h5>予約したい講師を選択してください</h5>
        <ul class="collection" id="teacher-container">
        </ul>
    </div>
</div>
{% endblock content %}