{% extends "base.html" %}
{% load static %}

{% block header %}
<script type="text/javascript" src="{% static 'js/succeed_in_signup.js' %}"></script>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="container">
        <div class="card-panel hoverable" id="contents-container">
            <img class="responsive-img" src="/media/Tutoring.jpg">
            <h3>サインアップに成功しました</h3>
            <button class="btn waves-effect waves-light" type="button" name="action" id="btn">ログイン
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
{% endblock content %}